@font-face {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(f5b9ec31b82b0e0198a0.ttf) format('truetype');
}
@font-face {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(195edabd2ded903a1e67.ttf) format('truetype');
}
